<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishlist</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
<h1>Create Wishlist</h1>
<form action="/wishlist/add" method="post" >
    <label for="wishlistName">Wishlist Name:</label><br>
    <input type="text" id="wishlistName" name="wishlistName" required><br><br>
    <input type="submit" value="Create Wishlist">
</form>

<h2>Existing Wishlists</h2>

<ul>
    <li th:each="wishlist : ${wishlists}">
        <a th:href="@{/wishlist/{wishlistId}(wishlistId=${wishlist.wishlistId})}">
            <span th:text="${wishlist.wishlistName}"></span>
        </a>
    </li>
</ul>
</body>
</html>
